.button {
  align-items: center;
  border: none;
  border-radius: 999rem;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-prompt);
  font-style: italic;
  font-weight: 600;
  justify-content: center;
  line-height: 100%;
  letter-spacing: 0.01em;
  margin: 0.5rem;
  padding: 0.125rem;
  text-transform: uppercase;
  transition: all 0.3s;
  white-space: nowrap;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button:hover {
  text-decoration: none;
}

.buttonContent {
  padding: 0.25rem 1rem;
  border-radius: 999rem;
}

/* Variant "purple" */
.purple {
  --color-gradient-a: #9c60ef;
  --color-gradient-b: #740ce6;

  background: linear-gradient(0deg, var(--color-gradient-b) 40%, var(--color-gradient-a));
  color: var(--color-show-white);
}
.purple:hover {
  filter: brightness(115%);
}
.purple .buttonContent {
  background: linear-gradient(0deg, var(--color-gradient-a) 40%, var(--color-gradient-b));
}

/* Variant "round" */
.round {
  --color-gradient-a: #9c60ef;
  --color-gradient-b: #740ce6;

  background: linear-gradient(0deg, var(--color-gradient-b) 40%, var(--color-gradient-a));
  color: var(--color-show-white);
}
.round:hover {
  filter: brightness(115%);
}
.round .buttonContent {
  background: linear-gradient(0deg, var(--color-gradient-a) 40%, var(--color-gradient-b));
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;

  /* padding: 0 !important; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Classes for .size property */
.medium.button {
  padding: 0.125rem; /* 2px */
}
.medium .buttonContent {
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
}

.large.button {
  padding: 0.188rem; /* 3px */
}
.large .buttonContent {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}

/* Desktop screens */
/* TODO: Sync min-width constrain with MOBILE_SCREEN_MAX_WIDTH value */
@media screen and (min-width: 800px) {
  .medium.button {
    padding: 0.188rem; /* 3px */
  }
  .medium .buttonContent {
    font-size: 1.375rem;
    padding: 1rem 1.5rem;
  }

  .large.button {
    padding: 0.25rem; /* 4px */
  }
  .large .buttonContent {
    font-size: 1.75rem;
    padding: 1.25rem 2rem;
  }

  .round .buttonContent {
    width: 7rem;
    height: 7rem;
  }
}
