.wrapper {
  --spin-button-size: 4rem;
  --wheel-size: 300px;
  --wheel-frame-offset: 20px;
  --marker-size: 2rem;

  position: relative;
  overflow: hidden;

  width: calc(var(--wheel-size) + 2 * var(--wheel-frame-offset));
  height: calc(var(--wheel-size) + 2 * var(--wheel-frame-offset) + 128px);
  padding-top: calc(var(--wheel-frame-offset) - 2px);
  padding-left: var(--wheel-frame-offset);
  padding-right: var(--wheel-frame-offset);

  background-image: url(wheel-frame.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.marker {
  position: absolute;
  top: 2rem;

  left: calc(50% - (var(--marker-size) / 2));
  width: var(--marker-size);
  height: calc(var(--marker-size) / 2);

  background-image: url(wheel-marker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;

  animation-duration: 4.5s; /* Note: the CSS animation-duration should be less then SPIN_DURATION_IN_SECONDS value */
  transform-origin: 50% 50%;

  width: var(--wheel-size);
  height: var(--wheel-size);

  background-image: url(wheel-content.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.isWinner {
  transform: rotate(-45deg);
}

.spinNoBonus {
  animation-name: animationNoBonus;
}

.spinWinner {
  animation-name: animationWinner;
}

@keyframes animationNoBonus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes animationWinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1755deg); /* Ended at -45deg */
  }
}

/* Desktop screens */
/* TODO: Sync min-width constrain with MOBILE_SCREEN_MAX_WIDTH value */
@media screen and (min-width: 800px) {
  .wrapper {
    --spin-button-size: 8rem;
    --wheel-size: 600px;
    --wheel-frame-offset: 40px;

    padding-top: calc(var(--wheel-frame-offset) - 4px);
    background-size: cover;
  }

  .marker {
    --marker-size: 3rem;
    top: 4rem;
  }

  .wheel {
    width: var(--wheel-size);
    height: var(--wheel-size);
  }
}
