.wrapper {
  background-image: url('background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Tablet Screen */
@media screen and (min-width: 800px) {
  .wrapper {
    background-image: url('ball.webp'), url('background.webp');
    background-size: auto, cover;
    background-position:
      bottom -2rem left 40%,
      center;
    background-repeat: no-repeat;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1200px) {
  .wrapper {
    background-image: url('coins.webp'), url('ball.webp'), url('heart.webp'), url('background.webp');
    background-size: contain, auto, auto, cover;
    background-position:
      center right -10rem,
      bottom -2rem left 40%,
      right 10% top 8rem,
      center;
    background-repeat: no-repeat;
  }
}

/* Wide Desktop Screen */
@media screen and (min-width: 1440px) {
  .wrapper {
    background-position:
      center right 20%,
      bottom -2rem left 40%,
      right 10% top 8rem,
      center;
  }
}
