.typo {
  font-family: var(--font-prompt);
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.01em;
}
.typo ul {
  list-style: disc;
}
.typo li {
  margin-inline-start: 1rem;
}

/* Modifiers */

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold !important;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

/* Colors */

.white {
  color: var(--color-snow-white);
}

.yellow {
  color: var(--color-aureolin);
}

.dark {
  color: var(--color-dark-text);
}

/* Sizes */

.small {
  font-size: 1rem; /* 16px */
}
.medium {
  font-size: 1.25rem; /* 20px */
}
.large {
  font-size: 1.875rem; /* 30px */
}

/* Variants for Desktop Screen */
/* TODO: Sync min-width constrain with MOBILE_SCREEN_MAX_WIDTH value */
@media screen and (min-width: 800px) {
  .small {
    font-size: 1.875rem; /* 30px */
  }
  .medium {
    font-size: 2.25rem; /* 36px */
  }
  .large {
    font-size: 3.75rem; /* 60px */
  }

  .typo li {
    margin-inline-start: 2rem;
  }
}
