.wrapper {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 0.5rem;

  display: flex;
  align-items: stretch;
}
.fullHeight {
  min-height: calc(100vh - var(--footer-min-height));
  height: 100%;
}
.fullWidth {
  max-width: 100%;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: var(--content-max-width);
  width: 100%;
}

/* Desktop Screens */
@media screen and (min-width: 800px) {
  .wrapper {
    gap: 2rem;
    padding: 0 1rem;
  }

  .fullHeight {
    min-height: calc(100vh - var(--footer-min-height));
  }
}
