.wrapper {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.fullHeight {
  min-height: calc(100vh - var(--footer-min-height));
  height: 100%;
}
.fullWidth {
  max-width: 100%;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: var(--content-max-width);
  width: 100%;
}

/* Variants for Desktop Screen */
/* TODO: Sync min-width constrain with MOBILE_SCREEN_MAX_WIDTH value */
@media screen and (min-width: 800px) {
  .wrapper {
    gap: 2rem;
    padding: 0 1rem;
  }

  .fullHeight {
    min-height: calc(100vh - var(--footer-min-height));
  }
}
